<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
  {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="Images/about.jpg" alt="chandan" class="img-fluid" title="chandan maurya">
                        </figure>
                     </div>

                    <div class="col-md-6 col-11 main_header_left align-items-center">
                       <p>Welcome To Weather Site</p>
                       <h1>I Am A <span class="text_clr"> Mern Stack Developer </span>And An Undergraduate Student Of <span class="text_clr">NIT Sikkim </span> </h1>
                        {{!-- <a href="aboutme.html"><button>About Me</button></a> --}}

                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
     
     {{>footer}}
</body>
</html>